*{
    background: #F3F5FC; /* Esto no se debe hacer*/
    padding: 10px 0;
    font-family: Inter;
    box-sizing: border-box;
}
.encabezado{
    width: 940px; /* No pongas medidas fijas cuando van a ser muy grandes. Tienen que ser proporcionales, o sea, usando porcentajes (%, vw, vh, dvw, dvh)*/
    margin: 0 auto;
    padding: 50px;
}
.logo{
    position: absolute;
    top:40px;
    left: 40px;; /* Aquí hay un punto y coma demás pero no debería haber problema*/
}

.cajasTexto{
    width: 940px; /* Tal y como puse arriba usa porcentajes. Si 940 es el tamaño de tu pantalla pon 100% para que sea el tamaño de la pantalla de cualquier dispositivo*/
    margin: 0 auto;
    padding: 50px;
}


.cajasTexto textarea{
    display: inline-block; /* No uses inline, utiliza flex en el elemento padre para que se acomoden uno tras de otro */
    padding: 30px 20px;
}

.cajaIngreso{

position: absolute; /* No utilices absolute a no ser que sea para poner decoraciones en las esquinas o un elemento en medio de otro elemento o en medio de la pantalla*/
width: 577px; /* Esto tiene que ir con medidas proporcionales*/
height: 118px; /* Esto también tiene que ir con medidas proporcionales*/
left: 240px;
top: 168px;
border: none;
outline: none;
opacity: 0px;
color: #0A3871;
font-family: 'Inter'; /* Tienes el font-family en la etiqueta asterisco (*), por lo que ya tienes esta fuente en este elemento*/
font-style: normal;
font-weight: 400; /* Este es el font-weight por defecto */
font-size: 32px; /* Este es el doble de la medida de una letra normal, por lo que lo correcto es usar 2rem y no 32px. 1rem es la medida de las letras, por eso es mejor medir las fuentes en rem*/
line-height: 150%; /* El line height es el tamaño de cada linea de tu elemento para escribir, estás multiplicando tu lineheight por 1.5, lo mejor es poner line-height 2rem, ya que es el tamaño de la fuente que estás usando*/
}



.cajaResultado{
position: absolute;
width: 400px;
height: 944px;
left: 1200px;
top: 40px;
background: #FFFFFF;
box-shadow: 0px 24px 32px -8px ;
border-radius: 32px;
outline: none;
}

.advertencia{
position: relative;;
width: 229px;
height: 18px;
left: 240px;
top: 851px;
color: #495057;
}

.botones {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;
}

.btn-encriptar{
flex: none;
order: 0;
flex-grow: 0;
font-size: 32px;
background-color: #0A3871;
border: 1px solid  #0A3871;
border-radius: 24px;
color: #FFFFFF;
cursor: pointer;
height: 67px;
width: 328px;
}


.btn-desencriptar{
flex: none;
order: 1;
flex-grow: 0;
font-size: 32px;
background: #D8DFE8;
border: 1px solid #0A3871;
border-radius: 24px;
color: #0A3871;
cursor: pointer;
height: 67px;
margin-left: 30px;
width: 328px;
}

.pie{
    background: #0A3871;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0; /* Posicionar el pie de página al fondo */
    width: 100%;;
}
