*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    background: #F3F5FC;
  }

.logo{
    position: absolute;
    top:40px;
    left: 40px;
}


main{
    margin: auto;
}
.cajasTexto{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
}


.cajasTexto textarea{
    display: flex;
    overflow: block;  
    padding: 20px 15px;
}

.cajaIngreso{
    margin: auto;
position: fixed;
width:30%;
height: 70%;
left: 340px;
top: 168px;
border: none;
outline: none;
opacity: 100px;
color: #0A3871;
background: none;
font-family: 'Inter';
font-style: normal;
font-size: 2rem;
line-height: 2rem;
}

.cajaIngreso::placeholder{
    color: #0A3871;
}


.cajaResultado{
    margin: auto;
position: fixed;
width: 20%;
height: 90%;
left: 1400px;
top: 40px;
background: #FFFFFF;
background-image: url(imagenes/Mu침eco.png);
background-repeat: no-repeat;
background-position: center;
border: none;
box-shadow: 0px 24px 32px -8px ;
border-radius: 32px;
outline: none;
color: #0A3871;
font-size: 2rem;
line-height: 2rem;
}

.cajaResultado::placeholder{
    position: fixed;
    text-align: center;
    bottom:20%;
    font-size: 1rem;
    color:#495057;
    font-weight: bold;
    gap: 16px;
}

.advertencia{
    position: fixed;
width: 25%;
height: 2%;
left: 340px;
top: 851px;
color: #495057;
}

.botones {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 340px;
top: 885px;
}

.btn-encriptar{
flex: none;
order: 0;
flex-grow: 0;
font-size: 1rem;
background-color: #0A3871;
border: 1px solid  #0A3871;
border-radius: 24px;
color: #FFFFFF;
cursor: pointer;
height: 100%;
width: 50%;
}


.btn-desencriptar{
flex: none;
order: 1;
flex-grow: 0;
font-size: 1rem;
background: #D8DFE8;
border: 1px solid #0A3871;
border-radius: 24px;
color: #0A3871;
cursor: pointer;
height: 100%;
margin-left: 30px;
width: 50%;
}

.copiar{
    flex: none;
order: 3;
flex-grow: 0;
font-size: 1rem;
background-color: #0A3871;
border: 1px solid  #0A3871;
border-radius: 24px;
color: #FFFFFF;
cursor: pointer;
height: 100%;
width: 50%;
margin-left: 55%;


}

.pie{
    background: #0A3871;
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 0; /* Posicionar el pie de p치gina al fondo */
    width: 100%;;
}


/* Media Queries */

/* Pantallas m치s peque침as */
@media screen and(max-width: 1199px) {
.logo {
  margin-top: 3%;
  margin-bottom: 7%;
  position: static;
}
header {
  width: 100%;

.pie{
    width: auto;
    bottom: 0;
}
}

.img-msj-encrypt-section {
display: block;
}

.msj-encrypt-section {
display: none;
}